﻿@{
    ViewData["Title"] = "Apartments";
}

<div class="text-center">
    <h1 class="display-4">WebApartments</h1>
    <p>If you want to see some real apartments, check this link <a href="https://apartmani-biskup.com/en/">ApartmentsBiskup</a>.</p>
</div>