﻿<form method="post" asp-action="RNG">
    <h1>Select XML file to validate with RNG</h1>
    <input type="file" accept="xml" id="file" name="file" />
    <button class="btn btn-primary " type="submit">SUBMIT</button>
</form>
<br />
<h3>@ViewBag.xml</h3>