<form method="post" asp-action="RNG" enctype="multipart/form-data">
    <h1>Select XML file to validate with RNG</h1>
    <br />
    <input type="file" id="file" name="file" />
    <br>
    <br>
    <button class="btn btn-primary d-block" type="submit">SUBMIT</button>
</form>
<br />
<h3>@ViewBag.xml</h3>