@model IEnumerable<UI.Models.Apartment>

@{
    ViewBag.Title = "SOAP";
    var apartments = (string)ViewData["apartments"] ?? "";
}

<h2>SOAP</h2>

<form method="post" asp-action="SOAP">
    <input type="text" id="id" name="id" placeholder="Enter apartment id" />
    <button class="btn btn-primary " type="submit">SUBMIT</button>
</form>

@if (!string.IsNullOrWhiteSpace(apartments))
{
    <h4>
        @apartments
    </h4>
}
