<form method="post" asp-action="XSD" enctype="multipart/form-data">
    <h1>Select XML file to validate with XSD</h1>
    <br />
    <input type="file" accept="xml" id="file" name="file" />
    <br>
    <br>
    <button class="btn btn-primary d-block" type="submit">SUBMIT</button>
</form>

<h3>@ViewBag.xml</h3>